.DS_Store
*/.DS_Store
ihaiu.AssetManager/obj*
ihaiu.AssetManager/Library
ihaiu.AssetManager/Library*
ihaiu.AssetManager/Temp*
ihaiu.AssetManager/version/OSX/Official/app-ver01.00.00_beta-20161207144401.csv
ihaiu.AssetManager/version/OSX/Official/app-ver01.00.00_beta-20161207144731.csv
ihaiu.AssetManager/version/OSX/Official/app-ver01.00.00_beta-20161207144945.csv
ihaiu.AssetManager/version/OSX/Official/app-ver01.00.00_beta-20161207151649.csv
ihaiu.AssetManager/version/OSX/Official/app-ver01.00.00_beta-20161207162907.csv
ihaiu.AssetManager/version/OSX/Official/app-ver01.00.00_beta-20161207165249.csv
ihaiu.AssetManager/version/OSX/Official/app-ver01.00.00_beta-20161208205927.csv
